output/*
*/.DS_Store

writeup/*/*.aux
writeup/*/*.log
writeup/*/*.nav
writeup/*/*.out
writeup/*/*.snm
writeup/*/*.toc
writeup/*/*.bbl
writeup/*/*.fff
writeup/*/*.spl
writeup/*/*.ttt
writeup/*/*.run.xml
writeup/*/*.synctex.gz